@font-face{font-family:'Gotham pro';
    src:url('assets/gothampro/GothamPro.eot'),
    url('assets/gothampro/GothamPro.eot?#iefix') format('embedded-opentype'),
    url('assets/gothampro/GothamPro.woff') format('woff'),
    url('assets/gothampro/GothamPro.woff2') format('woff2'),
    url('assets/gothampro/GothamPro.ttf') format('truetype');
    font-weight: 400;font-style:normal;font-display:swap;}
@font-face{font-family:'Gotham pro';
    src:url('assets/gothampro/GothamPro-Bold.eot'),
    url('assets/gothampro/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('assets/gothampro/GothamPro-Bold.woff') format('woff'),
    url('assets/gothampro/GothamPro-Bold.woff2') format('woff2'),
    url('assets/gothampro/GothamPro-Bold.ttf') format('truetype');
    font-weight: 700;font-style:normal;font-display:swap;}
:root {
    --footer: #204B67;
    --colorPrimary:#59BBF2;
    --colorPrimaryLighter: #E7F7FF;
    --colorSecondary: #FFD155;
    --font: #000000;
}
html{
    scroll-behavior: smooth;
}
body{
    height: 100%;
    background: white;
    font-weight: 700;
    background: var(--background);
    font-family: BOG, sans-serif;
    transition: ease-out 250ms;
    font-family: Gotham pro;
}
header{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
}
.header-section{
    width: 1200px;
    display: flex;
    align-items: center;
}
.nav-bar{
    height: 40px;
    width: 505px;
    min-width: 450px;
    display: flex;
    margin-left: 5%;
    justify-content: space-between;
    font-size: 14px;
    text-decoration: none;
    align-items: center;
}
.phone{
    display: flex;
    height: 40px;
    width: 325px;
    align-items: center;
    font-size: 12px;
}
.phone img{
    margin-right: 10px;
}
.number{
    margin-right: 7.5%;
}