@font-face{font-family:'Gotham pro';
    src:url('assets/gothampro/GothamPro.eot'),
    url('assets/gothampro/GothamPro.eot?#iefix') format('embedded-opentype'),
    url('assets/gothampro/GothamPro.woff') format('woff'),
    url('assets/gothampro/GothamPro.woff2') format('woff2'),
    url('assets/gothampro/GothamPro.ttf') format('truetype');
    font-weight: 400;font-style:normal;font-display:swap;}
@font-face{font-family:'Gotham pro';
    src:url('assets/gothampro/GothamPro-Bold.eot'),
    url('assets/gothampro/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('assets/gothampro/GothamPro-Bold.woff') format('woff'),
    url('assets/gothampro/GothamPro-Bold.woff2') format('woff2'),
    url('assets/gothampro/GothamPro-Bold.ttf') format('truetype');
    font-weight: 700;font-style:normal;font-display:swap;}
:root {
    --footer: #204B67;
    --colorPrimary:#59BBF2;
    --colorPrimaryLighter: #E7F7FF;
    --colorSecondary: #FFD155;
    --font: #000000;
}
html{
    scroll-behavior: smooth;
}
body{
    height: 100%;
    background: white;
    font-weight: 700;
    background: white;
    transition: ease-out 250ms;
    font-family: Gotham pro;
}
.shape{
    position: absolute;
    left: 45vw;
    margin-top: 100px;
    width: 1080px;
    z-index: 0;
    overflow: hidden; 
}
header, .navigation, .nav-bar, .phone{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}
header{
    position: absolute;
    left:0;
    top:0;
    height: 160px;
    justify-content: center;
}
.header-section{
    padding-right: 20px;
    padding-left: 20px;
    width: 1160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation{
    min-width: 450px;
    max-width: 565px;
}
.nav-bar{
    max-width: 450px;
    min-width: 350px;
    font-size: 14px;
    text-decoration: none;
    margin-left: 20px;
}
.phone{
    max-width: 325px;
    min-width: 300px;
    font-size: 12px;
    color:white;
}
.number img{
    margin-left: 20px;
    padding-right: 10px;
}
.order{
    line-height: 40px;
    width: 150px;
    background: var(--colorSecondary);
    text-align: center;
    border-radius: 56px;
}